@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #0A0A0A;
}

.bern__your__sun {
  background-image: url(../img/BernYourSun/BgSun.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px 0 40px;
}
.bern__your__sun .container {
  max-width: 1165px;
  min-width: 300px;
  min-height: 1024px;
  margin: 0 auto;
  padding-top: 19px;
  container-type: inline-size;
}
.bern__your__sun .container .bern__your__sun__title {
  max-width: 800px;
  font-family: Roboto;
  font-size: 96px;
  font-weight: 100;
  text-align: left;
  color: #FFFFFF;
  margin-top: 136px;
  line-height: 1.3;
}
@container (max-width:800px) {
  .bern__your__sun .container .bern__your__sun__title {
    font-size: 48px;
  }
}
.bern__your__sun .container p {
  max-width: 500px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.bern__your__sun .container .logo {
  max-width: 285px;
  height: auto;
}
.bern__your__sun .container .bern__your__sun__btn {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #f0f0f0;
  background: linear-gradient(358.4361835464deg, #d15a1a 0%, #eab425 47%, #ecd85a 100%);
  width: 270px;
  height: 60px;
  border-radius: 50px;
  margin-top: 185px;
  cursor: pointer;
}

.what__is__sun {
  background-color: #111111;
  background-image: url(../img/WhatIsSun/sun\ 1.png);
  background-repeat: no-repeat;
  background-position: 0 -160px;
  margin: 0 auto;
  max-width: 1440px;
  max-height: 700px;
  padding: 0 40px 0 40px;
}
.what__is__sun .container {
  max-width: 1165px;
  min-height: 700px;
  margin: 0 auto;
  padding-top: 190px;
}
.what__is__sun .container .what__is__sun__h1 {
  font-family: Roboto;
  font-size: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: #f3d7b3;
}
.what__is__sun .container p {
  max-width: 586px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.what__is__sun .container .what__is__sun__p {
  margin-top: 30px;
}

.feelings {
  background-color: #111111;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 244px;
  padding: 0 40px 0 40px;
}
.feelings .container {
  max-width: 1165px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.feelings .container h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #f3d7b3;
}
.feelings .container .feelings__content__wrapper {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feelings .container .feelings__content__wrapper img {
  max-width: 550px;
}
.feelings .container .feelings__content__wrapper .first__img {
  transform: rotate(-5deg);
}
.feelings .container .feelings__content__wrapper .feelings__content {
  max-width: 560px;
}
.feelings .container .feelings__content__wrapper .feelings__content h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.feelings .container .feelings__content__wrapper .feelings__content p {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 100;
  color: #ffffff;
  margin-top: 7px;
}

.emotion__burnout {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 600px;
  background-image: url("../img/EmotionBurnout/BgImg.png");
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  padding: 0 40px 0 40px;
}
.emotion__burnout .container {
  max-width: 1165px;
  min-height: 240px;
  margin: 0 auto;
  align-content: space-between;
}
.emotion__burnout .container p {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.emotion__burnout .container :last-child {
  margin-top: 60px;
}

.what__to__do {
  background-color: #111111;
  background-image: url("../img/WhatToDo/bg.png");
  background-repeat: no-repeat;
  background-position: 855px 105px;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 135px;
  padding: 0 40px 0 40px;
}
.what__to__do .container {
  max-width: 1165px;
  margin: 0 auto;
}
.what__to__do .container h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
  color: #f3d7b3;
}
.what__to__do .container .first__p {
  max-width: 760px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #f3d7b3;
  margin-top: 50px;
}
.what__to__do .container .next__p {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  max-width: 860px;
  margin-top: 20px;
}
.what__to__do .container .third__p {
  max-width: 950px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
}
.what__to__do .container .what__to__do__btn {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  color: #f0f0f0;
  text-transform: uppercase;
  width: 400px;
  height: 80px;
  background: linear-gradient(358.4361835464deg, #dac1a0 0%, #c3a885 47%, #c1a683 100%);
  border-radius: 50px;
  background: linear-gradient(358.4361835464deg, #dac1a0 0%, #c3a885 47%, #c1a683 100%);
  margin-top: 120px;
}

.you__get__file {
  background-color: #111111;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
.you__get__file .container {
  max-width: 1165px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.you__get__file .container h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
  color: #f3d7b3;
  margin-top: 209px;
}
.you__get__file .container .get__file__wrapper {
  margin-top: 210px;
  display: flex;
  justify-content: space-between;
}
.you__get__file .container .get__file__wrapper .get__file__content .h2__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.you__get__file .container .get__file__wrapper .get__file__content .h2__wrapper .number {
  width: 68px;
  height: 68px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #f3d7b3 inset;
  align-content: center;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}
.you__get__file .container .get__file__wrapper .get__file__content .h2__wrapper h2 {
  max-width: 373px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  line-height: 1.3;
}
.you__get__file .container .get__file__wrapper .get__file__content p {
  margin-top: 50px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  line-height: 1.3;
}
.you__get__file .container .get__file__wrapper .get__file__content .get__file__content__p {
  margin-top: 35px;
}
.you__get__file .container .get__file__wrapper img {
  max-width: 695px;
  -o-object-fit: cover;
     object-fit: cover;
}

.premium {
  background-color: #111111;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
.premium .container {
  max-width: 1165px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.premium .container h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
  color: #f3d7b3;
  margin-top: 209px;
}
.premium .container .premium__content {
  max-width: 590px;
  margin-top: 140px;
}
.premium .container .premium__content .h2__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.premium .container .premium__content .h2__wrapper .number {
  width: 68px;
  height: 68px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #f3d7b3 inset;
  align-content: center;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}
.premium .container .premium__content .h2__wrapper h2 {
  max-width: 493px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  line-height: 1.3;
}
.premium .container .premium__img__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.premium .container .premium__img__wrapper p {
  max-width: 460px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  line-height: 1.3;
}
.premium .container .premium__img__wrapper img {
  max-width: 664px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */